<footer>
    <div class="container">
        <div>
            <a href="/contact">Contact</a> |
            <a href="/legal_notice">Legal Notice</a> |
            <a href="https://github.com/fr0tt/shortlib/ThirdPartyNotices.txt">Third Party Notices</a> | 
            <a href="https://github.com/fr0tt/shortlib/">Repository</a>
        </div>
        <p>ShortLib © 2018</p>
    </div>
</footer>