<footer>
    <div>
        <div>
            <a href="">Contact</a> | 
            <a href="https://github.com/fr0tt/shortlib/ThirdPartyNotices.txt">Third Party Notices</a>
        </div>
        <p>ShortLib © 2018</p>
    </div>
</footer>