<div id="navigation">
    <div class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/static/logo/logo.svg"/>
        </a>
        <a href="/">
            <span>ShortLib</span>
        </a>
    </div>
    <nav>
        <a href="https://github.com/fr0tt/shortlib">Contribute</a>
    </nav>
    </div>
</div>