{% import "macros/icons/edit.njk" as edit %} 
{% import "macros/icons/building.njk" as building %} 
{% import "macros/icons/link.njk" as link %} 
{% import "macros/icons/arrow.njk" as arrow %}  
{% import "macros/icons/filter.njk" as filter %} 
{% import "macros/icons/windows.njk" as windows %}
{% import "macros/icons/mac.njk" as mac %}
{% import "macros/icons/linux.njk" as linux %}

{% extends "base.njk" %}

{% block add_assets %}
	<script src="/static/js/vue.min.js"></script>
	<link rel="stylesheet" href="/static/css/app.css" type="text/css"/>
{% endblock %}

{% block main %}

	<div class="container">
		<div class="contentside">

			<section id="info">

				<div class="editButtons">
					<button>
						<a href="https://github.com/fr0tt/shortlib/content/{{ Page.path.dir | safe }}">Edit{{ edit.icon("editIcon") }}</a>
					</button>
				</div>

				<div class="container">
					{% if image_src %}
						<img class="logo" src="{{ '/' + Page.path.dir + '/' + image_src | safe }}"/>
					{% endif %}

					<div class="textsection">
						<h1 class="title">{{ name }}</h1>
						<p class="description">{{ description | safe }}</p>
						
						<div class="details">
							<div class="detail">
								{{ building.icon("buildingIcon") }}
								<span>{{ developer }}</span>
							</div>
							<div class="detail">
								{{ link.icon("linkIcon") }}							
								<span>
									<a href="{{ website }}" target="_blank">{{ website }}</a>
								</span>
							</div>
						</div>
					</div>

				</div>

			</section>

			<section id="shortcuts">

				<div class="settings">

					<div class="setting" @click="showOS = !showOS">
						<div class="select">
							<div class="option">
								{{ windows.icon("windowsIcon", 'v-if="selectedOS === \'win\'"') }}
								{{ mac.icon("macIcon", 'v-else-if="selectedOS === \'mac\'"') }}
								{{ linux.icon("linuxIcon", 'v-else-if="selectedOS === \'linux\'"') }}
								{{ arrow.icon("arrowIcon") }}															
							</div> 
						</div>
						<transition name="fade"> 
							<div class="options" v-show="showOS">
								<div class="option" v-if="showOSAsAnOption('win')" @click="selectedOS = 'win'">
									{{ windows.icon("windowsIcon") }}
								</div>
								<div class="option" v-if="showOSAsAnOption('mac')" @click="selectedOS = 'mac'">
									{{ mac.icon("macIcon") }}
								</div>
								<div class="option" v-if="showOSAsAnOption('linux')" @click="selectedOS = 'linux'">
									{{ linux.icon("linuxIcon") }}
								</div>
							</div>
						</transition> 
					</div>

					<div class="setting">
						<div class="filter">
							{{ filter.icon("filterIcon", "{ active: filterIsActive }") }}
							<input v-model="filterQuery" @focus="filterIsActive = true" @focusout="filterIsActive = false" autocorrect="off" placeholder="Type to filter">
						</div>
					</div>

				</div>
				
				<h4>Table of Contents</h4>

				<ul class="toc">
					{%- for sectionName, section in collection %}
					<li>
						<a href="#{{ sectionName | replace(" ", "-") }}">
							{{- sectionName -}}
						</a>
					</li>
					{% endfor -%}
				</ul>

				<h2 class="filter" v-if="filterQuery" v-html="'Filter result for: ' + filterQuery"></h2>

				<div class="section">
					{% for sectionName, section in collection %} 
					<div>
						<h2 id="{{ sectionName | replace(" ", "-") }}" v-show="!filterQuery">
							<a href="#{{ sectionName | replace(" ", "-") }}">
								{{- sectionName -}}
							</a>
						</h2>
						<table>
							<tbody>
								{% set msg = "was not specified or is missing" %}
								{% for shortcut in section %}
								<tr v-show="containsFilter('{{ shortcut.description | escape | forceescape }}')">
									{%- if 'win' in OS %}
										<td v-show="selectedOS === 'win'">
											{%- if shortcut.hotkeys.win %}
												<kbd>{{- shortcut.hotkeys.win | joinArray("</kbd> <kbd>", "</kbd> <center>or</center> <kbd>") | safe -}}</kbd>
											{% else -%}
												<i>{{ msg }}</i>
											{% endif -%}
										</td>
									{% endif -%}
									{%- if 'mac' in OS %}
										<td v-show="selectedOS === 'mac'">
											{%- if shortcut.hotkeys.mac %}
												<kbd>{{- shortcut.hotkeys.mac | joinArray("</kbd> <kbd>", "</kbd> <center>or</center> <kbd>") | safe -}}</kbd>
											{% else -%}
												<i>{{ msg }}</i>
											{% endif -%}
										</td>
									{% endif -%}
									{%- if ('linux' in OS) or ('win' in OS) %}
										<td v-show="selectedOS === 'linux'">
											{%- if shortcut.hotkeys.linux %}
												<kbd>{{- shortcut.hotkeys.linux | joinArray("</kbd> <kbd>", "</kbd> <center>or</center> <kbd>") | safe -}}</kbd>
											{%- elif (generate_linux) and (shortcut.hotkeys.win) %}
												<kbd>{{- shortcut.hotkeys.win | joinArray("</kbd> <kbd>", "</kbd> <center>or</center> <kbd>") | safe -}}</kbd>
											{% elif ('linux' in OS) or (generate_linux) -%}
												<i>{{ msg }}</i>
											{% endif -%}
										</td>
									{% endif -%}
									<td class="description" v-html="highlight('{{ shortcut.description | escape | forceescape }}')">
										{{- shortcut.description -}}
									</td>
								</tr>
								{% endfor %} 
							</tbody>
						</table>
					</div>
					{% endfor %}
				</div>

			</section>
		</div>
	</div>

{% endblock %}

{% block body_scripts %}
	<script>
		const osTitleCase = {{ OS | dump | safe }}
		const OS = osTitleCase.map(function (os) { //.slice(0, structure.length-1)
			return os.toLowerCase()
		}) 
		//const generateLinux = {{ generate_linux | default("false") }}
	</script>
	<script src="/static/js/shortcuts.js"></script>
{% endblock %}